<html>

<head>
    <script src="index.js"></script>
    <script src="../lockr.js"></script>
</head>


<body>

    <div id="logindiv">
        <title>Login!</title>
        <ul>
            <li>
                <input id="email" placeholder="Email" type="text">
            </li>
            <li>
                <input id="password" placeholder="Enter Password" type="password">
            </li>

            <li>
                <button onclick="onLogin()" id="login">Login!</button>
            </li>


            <li>
                <button onclick="onSignup()" id="signup">Singup ?!</button>
            </li>
        </ul>
    </div>
</body>

</html>