<html>

<head>
    <script src="index.js"></script>
    <script src="lockr.js"></script>
</head>


<body>

    <div>
        <title>Login!</title>
        <ul>
            <li>
                <input id="email" placeholder="Email" type="text">
            </li>
            <li>
                <input id="password" placeholder="Enter Password" type="password">
            </li>

            <li>
                <button onclick="onLogin()" id="login">Login!</button>
            </li>
        </ul>
    </div>


    <div>
        <title>Register!</title>
        <ul>
            <li>
                <input id="emailregister" placeholder="Email" type="text">
            </li>
            <li>
                <input id="passwordregister" placeholder="Enter Password" type="password">
            </li>

            <li>
                <input id="fullnameregister" placeholder="Fullname" type="text">
            </li>
            <li>
                <input id="usernameregister" placeholder="Username" type="text">
            </li>

            <li>
                <button onclick="onRegister()" id="register">Register!</button>
            </li>
        </ul>
    </div>
</body>

</html>